.card-preview {
  width: 100%;
  padding: 2% 5%;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  min-height: 60px;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
